ProjectTalya.json
{
  "name": "ProjectTalya",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "mode": "webhook",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "0a471e4b-d420-4038-9b59-e483f53d5ce0",
      "name": "When chat message received",
      "webhookId": "fab86340-10db-42d8-b117-d08ff2e773c6"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "=אתה סוכן של העסק \nCLAYLA\n\nוככה תציג את עצמך בהתחלה למשתמש.\n\nחשוב ביותר: אתה תמיד משיב תשובות בשפה העברית.\n\n#Tools\nיש לך את הכלי שאתה תמיד תבדוק מולו מידע \n##clayla.txt\nהכלי הזה מכיל את כל המידע לגבי Clayla TLV בתל אביב.\nתשתמש בו ברבות כל פעם שמשתמש שואל שאלה.\n\n\n- אם המשתמש שואל שאלה שלא קשורה לעסק , תחזיר תמיד את התשובה:\n  \" אני מצטער, אני יכול לענות רק על שאלות שקשורות לעסק.\"\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "fa0e6da9-b0ae-441a-a1f0-bab61e45847e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-001",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        208
      ],
      "id": "1bda83ba-dd4c-44da-9699-105c4a88e7b0",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "Y85Y5oi7nH0MrPXV",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        224,
        208
      ],
      "id": "ad5f9dc2-72f3-410c-a320-4ec509e5e476",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "url": "https://raw.githubusercontent.com/talyakatz12/AIProject/refs/heads/main/Clayla.txt.txt",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        368,
        208
      ],
      "id": "eddcd350-d1be-4330-9cdd-4b9801e87a6c",
      "name": "clayla.txt"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "clayla.txt": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7b438edb-fe7b-4690-8c5c-374947967102",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4771c660d74796e65cbdab48c8841d244dc208066b1966ac3bb91b1ff07682df"
  },
  "id": "qO4C3hWQ0pck7uE1",
  "tags": []
}